@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-md-left {
  box-shadow: -4px 0 6px -2px rgba(0, 0, 0, 0.1);
}

.glass-bg {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 1.5rem; /* matches rounded-3xl */
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 26px 13px rgba(255, 255, 255, 0.13);
  position: relative;
  overflow: hidden;
}
.glass-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  z-index: 1;
}
.glass-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
  z-index: 1;
}

body {
  font-family: 'Montserrat', sans-serif;
  @apply bg-main-gradient text-white;
}

@media (max-width: 767px) {
  html,
  body {
    background: #cad7fd !important;
    background-image: none !important;
    background-size: initial !important;
    background-repeat: initial !important;
    background-position: initial !important;
  }
}

/* Custom Scrollbar Styles */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ff64c4 #232f3e; /* thumb and track */
}

/* Webkit Browsers */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #232f3e;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #ff64c4 60%, #c9d6ff 100%);
  border-radius: 8px;
  border: 2px solid #232f3e;
  box-shadow: 0 2px 8px rgba(255, 100, 196, 0.15);
  transition: background 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #ff64c4 80%, #e2e2e2 100%);
}
